.länkar-1 {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;

    Font-size: 25px;

    color: black;

    font-family: 'Oswald', sans-serif;

}

.titel-1 {
    display: flex; 
    justify-content: center;
    
    padding-top: 10%;

    font-family: 'Oswald', sans-serif;
   
}

.img-1 {
    width: 75%;
    height: 500px;
    padding-top: 10px;

}
