.länkar-1 {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;

    Font-size: 25px;

    color: white;

    font-family: 'Oswald', sans-serif;

}

.titel-1 {
    display: flex; 
    justify-content: center;
    
    padding-top: 10%;

    font-family: 'Oswald', sans-serif;
   
}

body {
    background-image:url("https://via.tt.se/data/images/00531/399e9049-37a1-4bab-a0b5-6349cabe2fe6.png");
    background-size:100%;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    
}